<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.Gelf"/>
  </extensions>

  <targets>
    <target name="debug" xsi:type="Debugger"/>
    <target name="chainsaw" xsi:type="Chainsaw" address="udp://127.0.0.1:7071" />

    <target name="infologfile" xsi:type="File"
            layout="${longdate} | ${level:uppercase=true} | ${logger:shortName=true} | ${message}"
            fileName="C:/CMS/Logs/${processname}.log"
            archiveFileName="C:/CMS/Logs/${processname}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMddHHmm"
            maxArchiveFiles="7"
            concurrentWrites="true" />

    <target name="errorlogfile" xsi:type="File"
            layout="${longdate} | ${level:uppercase=true} | ${logger:shortName=true} | ${message} ${onexception:${newline}\:${exception:format=toString:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"
            fileName="C:/CMS/Exceptions/${processname}.log"
            archiveFileName="C:/CMS/Exceptions/${processname}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMddHHmm"
            maxArchiveFiles="7"
            concurrentWrites="true" />

    <target name="console" xsi:type="Console" 
            layout="${level:uppercase=true} | ${message}" />

    <target name="graylog"
        xsi:type="gelf"
        endpoint="udp://172.31.22.82:12202"
        layout="${level:uppercase=true} | ${logger:shortName=true} | ${message} ${onexception:${newline}\:${exception:format=toString:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"
        facility="mqtt">

      <!-- Location information. -->
      <parameter name="source_method" layout="${callsite}" />
      <parameter name="source_line" layout="${callsite-linenumber}" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Error" writeTo="errorlogfile"/>
    <logger name="*" minlevel="Info" writeTo="graylog"/>
    <logger name="*" minlevel="Debug" writeTo="infologfile" />
    <logger name="*" minlevel="Trace" writeTo="chainsaw" />
  </rules>
</nlog>
